# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
build/

# Environment variables
.env
# Add any directories, files, or patterns you don't want to be tracked by version control
.vscode/
src/logs/
.idea/
coverage/
lcov.info
package-lock.json
.nyc_output/
.env
.env.development.local
.env.test.local
.env.production.local
.env.production1.local